img{
    width: 200px;
    image-rendering: optimizeSpeed;
    filter: opacity(0.5);
    border-radius: 10px;
}
.inline{
    display: inline;
    margin: 0px 5px;
    position: relative
}
.inline p{
    position: absolute;
    font-size: 50px;
    right: 50%;
    transform: translate(50%, -300%);
    color: black;
    
}